html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding-top: 300px;
  font-family: "Roboto", sans-serif;
}

.timer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  color: #000000;
  border-radius: 15px;
}

.field {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 22%;
  text-transform: uppercase;
  border: 0;
  background-color: #c9c8c8;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
  color: #000000;
  padding: 0 10px;
  border-radius: 10px;
}

.value {
  font-size: 40px;
  margin-bottom: 5px;
}

.label {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 5px;
}