.app {
  margin: 0 auto;
  padding: 0;
  width: 300px;
  color: rgb(116, 116, 116);
}

.dark {
  background-color: #000;
  color: #fff;
  height: 100vh;
}

.light {
  background-color: #fff;
  color: #000;
  height: 100vh;
}
