.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 3px solid #305a72;
  box-shadow: 9px 9px 26px 1px hsla(0, 0%, 0%, 0.3);
  background-color: #ffffff;
  list-style: none;
}

.listItem {
  width: 100%;
}

.name,
.phone {
  margin: 0;
  padding: 0;
}

.deleteButton {
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #216288;
  color: #fff;
}

.deleteButton:hover {
  transition: all 0.2s ease-in-out;
  background-color: #317ba6;
  color: #fff;
}
