.header {
  width: 100%;
  height: 50px;
  box-shadow: 0 0 5px 0 #000;
  margin-bottom: 20px;
  background-color: rgba(185, 185, 185, 0.3);

  &Nav {
    display: block;
    width: 150px;
    margin: 0 auto;
  }

  &List {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

  &ListItem {
    vertical-align: middle;
    line-height: 50px;
  }

  &Link {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  // &Link:hover {
  //   font-weight: 500;
  // }

  &LinkActive {
    color: rgb(255, 187, 0);
    font-weight: 500;
  }
}
