
    $main-font: 'Montserrat', sans-serif;
    $second-font: 'Roboto', sans-serif;
    $third-font: 'Kaushan Script', sans-serif;
    $light-color: #fff;
    $font-color: #999999;
    $heading-color: #333333;
    $hover-color: #fce38a;
    $second-hover-color: #f38181;